<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content = "telephone=no">

        <script src="/src/static/lib/js/third/refix.js"></script>
        <script src="/src/static/lib/js/third/sea.js"></script>
        <script src="/src/static/lib/js/third/zepto.js"></script>
        <script src="/src/static/lib/js/third/iscroll.js"></script>
        <script src="/src/static/lib/js/third/fastclick.js"></script>
        <script src="/src/static/lib/js/third/jsmod.mobile.js"></script> 
        <script src="/src/static/lib/js/third/swig.min.js"></script>
        <script src="/src/static/lib/js/self/jsmod-extend.js"></script>  

        <link href="/src/static/lib/css/self/reset.css" rel="stylesheet">
        <link href="/src/static/lib/css/self/font.css" rel="stylesheet">
        <link href="./base.styl" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>

    <body>

        <div id="page" class="page">
            <div class="content page-content">
                {%block container%}{%endblock%}

                {%block footer%}
                    <div class="page-footer">
                        <a href="javascript:void(0)" class="footer-item">
                            收听
                        </a>

                        <a href="javascript:void(0)" class="footer-item active">
                            我的
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>

    <script type="text/javascript" src="./base.js"></script>



    {% block js %}{% endblock js %}
</html>