<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content = "telephone=no">

        <script src="/static/lib/js/third/refix_fbf30bc.js"></script>
        <script src="/static/lib/js/third/sea_1c05fca.js"></script>
        <script src="/static/lib/js/third/zepto_22c2e9c.js"></script>
        <script src="/static/lib/js/third/iscroll_714f9b3.js"></script>
        <script src="/static/lib/js/third/fastclick_491c1c1.js"></script>
        <script src="/static/lib/js/third/jsmod.mobile_2506067.js"></script> 
        <script src="/static/lib/js/third/swig.min_20eb749.js"></script>
        <script src="/static/lib/js/self/jsmod-extend_f83d5c9.js"></script>  

        <link href="/static/lib/css/self/reset_4430edf.css" rel="stylesheet">
        <link href="/static/lib/css/self/font_a26edc3.css" rel="stylesheet">
        <link href="/static/public/css/page/layout/base_1fd768f.css" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>

    <body>

        <div id="page" class="page">
            <div class="content page-content">
                {%block container%}{%endblock%}

                {%block footer%}
                    <div class="page-footer">
                        <a href="javascript:void(0)" class="footer-item">
                            收听
                        </a>

                        <a href="javascript:void(0)" class="footer-item active">
                            我的
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>

    <script type="text/javascript" src="/static/public/js/page/layout/base_88347ba.js"></script>



    {% block js %}{% endblock js %}
</html>