body {
  background: #fff;
}
.page-footer {
  display: -webkit-box;
  border-top: 1px solid #e5e5e5;
}
.page-footer .footer-item {
  -webkit-box-flex: 1;
  display: block;
  padding: 10px 0;
  color: #e5e5e5;
  text-align: center;
}
